body {
    min-width: 200px;
    text-align: center;
}

.loader {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

#error,
#success {
    display: none;
}

#error {
    color: #dc3545!important;
}

#success {
    color: #28a745!important;
}

h3 {
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}